/* Global Resetado */

        @import url('https://fonts.googleapis.com/css2? family= Spectral+SC:ital,wght@0,300;1,700;1,800 & display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

    
}
body{
    background-image:linear-gradient(to bottom left , lime , white , yellow ) ;
}

 /* Headress */

header{
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    color: rgb(138, 64, 64);
    padding: 20px;
    text-align: center;
}

nav{
    padding: 0 0 0 50px;
}

main{
    font-size: 20px;
    padding: 10px;
}

aside{
    font-size: 19px;
    color: rgb(112, 107, 101);
    padding: 18px;
    text-align: center;
    margin: 10px;
}

section{
    margin: 10px;
    font-size: 18px;
    font-weight: bolder;
}

article{
    padding: 20px;
    color: rgb(83, 78, 78);
}

footer{
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: rgb(211, 201, 110);
    
}

 /* Estilização dos itens */

nav img{
    width: 35px;
    border: 5px outset red;
}
ul{
    list-style: none;

   
    width: 200px;
    height: 20% auto;

    padding:0;
    list-style:none;

}
nav li{
    display:block;
    padding:10px;
    color:#555;
    cursor:pointer;

    padding:0;
    list-style:none;
}
li a{
    display: flex;
    flex-direction: row;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    margin: 5px;

    border:1px solid mediumaquamarine;
    border-radius: 6px 6px 6px;

    color: rgb(8, 25, 77);
}

li a:hover{
    background-color: whitesmoke;
}
.ol-cor{
    list-style: none;
    color: blue;
}
fieldset{
    padding: 10px;
}
legend{
    color: darkmagenta;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}
strong{
    color: red;
    font-size: 18px;
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.indetificacao{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
}
footer{
    font-size: 20px;
    font-weight: lighter;
}
.contato  a {
    text-decoration: none;
}
.contato img{
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.marg p{
    margin-top: 12px;
    margin-bottom: 12px;
}

#menu-area{
    width:0px;
    background:#ccc;
    overflow-x:hidden;
    overflow-y:auto;
    transition: all ease .5s;

    width: 0px;
    background-color: rgba(0, 0, 0, 0.535);
}





